@import "../variables.scss";
.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  margin: 1rem 0 2rem;
  text-align: center;
  animation: slideIn 1s ease 2.4s 1 forwards;
  opacity: 0;
}

.name {
  display: inline-block;
  margin: 1em auto;
  justify-content: center;
  h1 {
    margin-bottom: 1rem;
  }
}

.description {
  margin: 3rem 1rem 4rem;
  line-height: 2;
  display: block;
}

.code {
  background: $bg;
  text-align: center;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 2rem;
  white-space: pre-line;
  margin: 4rem 0;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid $border;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;

  &:hover,
  :focus,
  :active {
    color: $blue;
    border-color: $blue;
  }

  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.icon {
  border-radius: 50%;
  position: relative;
  background-color: $blue;
  padding: 4px 4px 0 4px;
  &:before {
    content: "";
    background-color: $white;
    width: 216px;
    height: 212px;
    position: absolute;
    top: 6px;
    left: 4px;
    border-radius: 50%;
    transform: translateY(1px);
  }
}
.social {
  padding: 1rem;
}

@media (max-width: 700px) {
  .card {
    width: 90%;
    margin: 1rem 0;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
