.container {
  width: 100%;
  margin: 0 auto;
  min-height: 70vh;
  .error {
    color: red;
    width: 100%;
    transform: translateY(4px);
    font-size: 14px;
  }
  .title {
    padding: 8px 0;
  }
  .small {
    font-size: 12px;
    width: 100%;
  }
  .loading {
    position: fixed;
    background-color: rgba(#000000, 0.2);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    &::after {
      content: "";
      width: 120px;
      height: 120px;
      background-image: url("../../public/demo/loading.svg");
      background-repeat: no-repeat;
      background-size: contain;
      animation: loading 1.5s ease 0s 1 forwards;
      position: absolute;
      margin: auto;
      top: 36%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
  }
  .button,
  button {
    padding: 10px;
    line-height: 1;
    box-shadow: none;
    margin: 10px 0;
    border: 1px solid gray;
    background-color: lightgray;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    margin: 0 4px !important;
    transform: translateX(-4px);
    font-size: 14px;
  }
  button {
    min-height: 38px;
  }
  select {
    margin: 0 6px;
    height: 30px;
    width: 100px;
  }
  input {
    line-height: 2.4;
    min-width: 200px;
    margin-right: 10px;
  }
  .block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 20px;
  }
}
